/*--------------------------
  ------Takács Dániel-------
  -------SZOFT I/2/N--------
  -------2023.05.19---------
  --------------------------*/

body{
    background-image: url("OwlKitty-Jurassic-Park-Featured.jpg");
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.citatum {
    font-size: 3rem;
    margin: 10%;
}
.about {
  font-size: 3rem;
  margin-left: 30%;
  margin-bottom: 20px;
}
.container{
  color:white;
}
.color{
  color:white;
}
.table{
  color:white;
}